@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: red;
}

body {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  background: linear-gradient(white, lightgrey) fixed;
}

h1 {
  text-align: center;
  margin: 2rem;
}
.label {
  font-size: larger;
  font-weight: 800;
}
.input {
  font-size: medium;
  display: block;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: 2px solid var(--primary-color);
  border-radius: 0.9rem;
}
.output {
  font-size: x-large;
  font-weight: 600;
  margin: 2rem 0;
}
.button {
  background: var(--primary-color);
  border: none;
  color: white;
  font-size: large;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
